apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: marcus-data
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi
  storageClassName: local-path
  volumeName: marcus-data