apiVersion: v1
kind: PersistentVolume
metadata:
  name: marcus-audio-store
  labels:
    type: local
spec:
  capacity:
    storage: 100Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-storage
  local:
    path: /marcus/audio